body {
  background-image: url("../../img/microsoft/bg-microsoft1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-width {
  width: 272px;
}

.card-width > img{
  width: 100%;
}

.container-img {
  padding: 0rem 5rem 0rem 5rem;
  margin-bottom: 1.25rem;
}

.custom-p2 {
  font-size: 1.25rem;
  margin: 0;
  width: 100%;
  text-align: justify;
  padding: 0;
}
.container-p {
  width: 100%;
}

.image{
  width: 65%;
}

.consoles {
  padding: 1rem 6rem 1rem 6rem;
}

@media (max-width: 1200px) {
  .break {
    flex-direction: column;
  }
  .image{
    width: 90%;
  }
  .container-p{
    width: 170%;
  }
}

@media (max-width: 992px) {
  .custom-p2 {
    font-size: 1rem;
  }
  .container-img {
    flex-direction: column;
    padding: 0rem;
    text-align: center;
    text-indent: 5%;
  }
  .container-img img {
    width: 60%;
  }
  .container-p{
    width: 105%;
  }
}

@media (max-width: 575px) {
  .container-sm {
    width: 100%;
  }
  .container-img img {
    width: 100%;
  }

  .image{
    width: 100%;
  }

  .custom-div{
    width: 100%;
    padding: 0;
  }

  .container-img {
    flex-direction: column;
    padding: 0;
  }
  .container-p {
    width: auto;
  }
}