body {
  background-image: url('../../img/sony/bg/bg-sony1.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-width {
  width: 17rem;
  height: 17rem;
}

.card-width > img {
  width: 100%;
}

.container-img {
  padding: 0rem 5rem 0rem 5rem;
  margin-bottom: 1.25rem;
}

.custom-p {
  text-indent: 33px;
  text-align: justify;
  font-size: 1.25rem;
  padding: 1rem 5rem 1rem 5rem;
}

.custom-p2 {
  text-indent: 33px;
  font-size: 1.25rem;
  margin: 0;
  width: 100%;
  text-align: justify;
  padding: 0;
}
.container-p {
  width: 100%;
}

.image {
  width: 65%;
}

.consoles {
  padding: 1rem 6rem 1rem 6rem;
}

@media (max-width: 1200px) {
  .break {
    flex-direction: column;
  }
  .image {
    width: 90%;
  }
  .container-p {
    width: 170%;
  }
}

@media (max-width: 992px) {
  .custom-p {
    font-size: 1rem;
    padding: 1rem;
    margin: -1rem;
  }

  .custom-p2 {
    font-size: 1rem;
  }
  .container-img {
    flex-direction: column;
    padding: 0rem;
    text-align: center;
    text-indent: 5%;
  }
  .container-img img {
    width: 60%;
  }
  .container-p {
    width: 105%;
  }

  .consoles {
    padding: 0;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .card-width {
    margin: auto;
  }
  .table tbody tr {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .container-sm {
    width: 95%;
  }
  .container-img img {
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .custom-div {
    width: 100%;
    padding: 0;
  }

  .container-img {
    flex-direction: column;
    padding: 0;
  }
  .container-p {
    width: auto;
    padding: 0;
  }

  .consoles {
    padding: 0;
    margin: auto;
  }

  .card-width {
    margin: auto;
  }
}
