body {
  background-image: url("../../img/nintendo/bg-nintendo1.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-width {
  width: 15rem;
}

.image{
  width: 65%;
}

@media (max-width: 1200px) {
  .break {
    flex-direction: column;
  }
  .image{
    width: 90%;
  }
}

@media (max-width: 575px) {
  .container-sm {
    width: 90%;
  }

  .image{
    width: 100%;
  }
}