@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-image: url("../img/bg-index1.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* color: #fff; */
}

.custom-header {
  font-family: 'Press Start 2P', cursive;
}

.navbar {
  /* background-color: rgb(12,18,50); */
  background-color: rgb(160, 185, 225);
}

#logo {
  width: 9rem;
}

.custom-bg {
  /* background: rgba(12, 18, 50, 0.349); */
  background: rgba(160, 185, 225, 0.699);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}

.custom-m {
  margin-top: 6rem;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  nav div {
    flex-direction: row;
    justify-content: center;
  }

  .custom-m {
    margin-top: 3.5rem;
  }

  #ul-dropdown {
    text-align: center;
    width: 100%;
  }
}
